{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid p-0">
    <div class="jumbotron jumbotron-gifts"> 
        <div class="overlay mx-auto p-5 text-center">
            <h4 class="display-4">Gift Vouchers</h4>
            <hr class="my-4">
            <ul class="jumbotron_descriptions">
            <li><i class="fas fa-check mx-2"></i>Send special gifts to your family and friends.</li>
            <li><i class="fas fa-check mx-2"></i> Free delivery throughout Ireland.</li>
            <li><i class="fas fa-check mx-2"></i>Expiry in 5 years.</li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="row text-center mt-5">
        <div class="col-md-12">
            <h3>Filtered by Category: </h3>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-12 pb-5">
            <a href= "{% url 'gifts' %}" class="btn btn-secondary filter_button" role="button" aria-disabled="true">All</a>
            <a href= "{% url 'gifts' %}?category=Birthday" class="btn btn-secondary  filter_button" role="button" aria-disabled="true">Birthday</a>
            <a href="{% url 'gifts' %}?category=Congratulations" class="btn btn-secondary filter_button" role="button" aria-disabled="true">Congratulations</a>
            <a href="{% url 'gifts' %}?category=Thank You" class="btn btn-secondary filter_button" role="button" aria-disabled="true">Thank You</a>
             <a href="{% url 'gifts' %}?category=Wedding" class="btn btn-secondary filter_button" role="button" aria-disabled="true">Wedding</a>
             <a href="{% url 'gifts' %}?category=Custom" class="btn btn-secondary filter_button" role="button" aria-disabled="true">Custom</a>
        </div>
    </div>
    <div class="row">
    {% if gifts %}
        {% for gift in gifts %}
        <div class="col-md-6">
            <div class="card mb-3" style="max-width: 600px;">
                <div class="row no-gutters">
                    <div class="col-md-6">
                        <img src="{{gift.image.url}}" class="card-img gift_image" style ="width:100%; height:100%" alt="...">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <h5 class="card-title">{{gift.title}}</h5>
                            <p class="card-text">Euro {{gift.price}}</p>
                             <a class="btn btn-info" href="{% url 'gift' gift.id %}" role="button">More Info</a>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    {% endif %}
    </div>
</div>
 
{% endblock %}