{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container basket_container">
        <hr>
        <h2>Your Shopping Basket</h2>
        <hr>
        {% if basket_items %}
        <p class="text-muted pt-2"> Please review items in your shopping basket.</p>
        <p class="text-muted">You can update quantity of your items or remove item before checkout.</p>
        <h4 class="mt-4 text-right"><strong>Grand Total: Euro {{ grand_total|floatformat:2 }}</strong></h4>
       
        <div class="row pt-3">
            <div class="col">
                    <div class="table-responsive">
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">Items Info</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Subtotal</th>
                                </tr>
                            </thead>

                            {% for item in basket_items %}
                                <tr>
                                    <td class="p-3 w-25">
                                        <img class="img_basket img-fluid rounded" src="{{ item.course.photo_course.url }}" alt="Responsive Image">
                                    </td>
                                    <td class="py-2"><strong>{{item.course.title}}</strong><br>{{item.course.subcategory}}
                                    <br>{{item.course.course_datetime|date:"d F yy h:i a"}}<br>€ {{ item.course.price }}</td>
            
                                    <td class="py-2 text-center">
                                         <form class="form update-form" method="POST" action="{% url 'update_basket' item.item_id %}">
                                            {% csrf_token %}
                                            <div class="form-group w-50">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <button class="decrement-qty btn btn-sm" 
                                                            data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                            <span>
                                                                <i class="fa fa-minus-circle"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                    <input class="form-control form-control-sm qty_input" type="number"
                                                        name="quantity" value="{{ item.quantity }}" min="1" max="20"
                                                        data-item_id="{{ item.item_id }}"
                                                        id="id_qty_{{ item.item_id }}">
                                                    <div class="input-group-append">
                                                        <button class="increment-qty btn btn-sm"
                                                            data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                            <span>
                                                                <i class="fa fa-plus-circle"></i>
                                                            </span>
                                                        </button>
                                                    </div>
        
                                                </div>
                                            </div>
                                        </form>
                                      
                                        <a class="update-link btn btn-outline-dark btn-sm"><small>Update</small></a>
                
                                    </td>
                                    <td class="py-3 ">
                                       € {{item.subtotal}}
                                      <a href = "{% url 'remove' item.item_id %}" class="btn btn-danger btn-sm remove float-right ml-3" id="remove_{{ item.item_id }}">Remove</a>
                                    </td>
                                </tr>
                    
                            {% endfor %}
                            <tr>
                    

                                <td colspan="4">
                                
                                    <a href="{% url 'courses' %}" class="btn btn-outline-dark float-left mt-4">
                                        <span>
                                            <i class="fas fa-chevron-left"></i>
                                        </span>
                                        <span class="text-uppercase">Continue Browsing</span>
                                    </a>
                                    <a href="{% url 'checkout' %}" class="btn btn-dark float-right mt-4">
                                        <span class="text-uppercase">Secure Checkout</span>
                                        <span>
                                            <i class="fa fa-credit-card ml-2"></i>
                                            <i class="fas fa-chevron-right ml-2"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                {% else %}
                    <p class="lead my-5">Your shopping basket is currently has no item added.</p>
                    
                    <a href="{% url 'courses' %}" class="btn btn-outline-dark">
                        <span>
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Continue Browsing</span>
                    </a>
    
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/quantity_input_script.js' %}">
   </script>
{% endblock %}