html {
    height: 100%;
}
/*--header and navbar--*/
#header-container {
    background-color:#525975;
}
.account-icons {
    height: 1rem;
    width:1rem;
}
/* from Bulma for icons in header and navabr--*/
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1rem;
    width: 1rem;
}

.logo-font {
    font-family: 'Playfair Display', serif;
}

.main-logo-link {
    width: fit-content;
}
/*--jumbotron index.html--*/
.jumbotron {
    background-image:url('/media/photos/churros.jpg');
    background-position:center;
    background-attachment: fixed;
    -webkit-background-size:cover;
    -moz-background-size: cover;
    min-height: 55vh;
    margin-top: 0;
}

.overlay {
    height:70%;
    width:60%;
    background-color: rgba(255, 255, 255, 0.8);
    align-items:center;
    vertical-align: central;
    margin-top: 100px;
}
.jumbotron_shoutout{
    color:#000;
    font-weight: 500;
    font-family: 'Playfair Display', serif;
    font-size:60px;
    font-style:italic;

}
#school_intro {
    color: #000;
    font-family: 'Playfair Display', serif;
    font-weight:400;
    font-size:25px;
}

.intro_messages {
    font-size: 20px;
    font-family: 'Playfair Display', serif;
}
@media only screen and (max-width: 768px) {
    .jumbotron {
    background-image:url("/media/photos/churros.jpg");
    background-position:center;
    background-attachment: fixed;
    -webkit-background-size:cover;
    -moz-background-size: cover;
    min-height: 45vh;
    margin-top: 0;
}
    .overlay {
    height:50%;
    width:80%;
    background-color: rgba(255, 255, 255, 0.8);
    align-items:center;
    vertical-align: bottom;
    margin-top: 220px;
}
.jumbotron_shoutout{
    color:#000;
    font-weight: 500;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size:25px;
    margin-bottom:10px;
    
}
#school_intro {
    color: #000;
    font-family: 'Playfair Display', serif;
    font-weight:400;
    font-size:15px;
}

.intro_messages {
    font-size: 10px;
    font-family: 'Playfair Display', serif;
}
}
/*--browse courses/giftvouchers cards--*/
#browse {
    margin-top:20px;
    margin-bottom:20px;
    padding:20px;
    font-family: 'Playfair Display', serif;
}
#browse p {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 20px;
    color:#4f4f4f;
}
h2 {
    color: #4f4f4f;
    font-family: 'Playfair Display', serif;
}
.index-card {
    margin-top:20px;
    font-family: 'Playfair Display', serif;
}
.img-index{
    height: 350px;
}
div .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.cardbody1 {
    background-color: #BB5978;
    opacity:0.8;
}

.cardbody2 {
    background-color:#91ACC0;
    opacity:0.8;
}
.card-link {
    font-size: 30px;
    color: #000;
}
.index-card a:hover {
    color:#fff;
}
/*--students feebback--*/
.comments {
    font-family: 'Playfair Display', serif;
}
.ratings {
    padding:0;
    color: #ffd633;
}
/*--footer--*/
#footer-details {
    background-color: #91ACC0;
}

.footer-icons p, {
    color:#fff;
}

.social_titles {
    font-family: 'Dancing Script', cursive;
    color: #ffffff;
    font-size: 25px;
    padding:0;
}

/*--Courses.html--*/
.jumbotron-courses {
    background-image:url("/media/photos/baking.jpg");
    background-position:center;
    background-attachment: fixed;
    -webkit-background-size:cover;
    -moz-background-size: cover;
    min-height: 65vh;
    margin-top: 0;
}
.jumbotron_descriptions {
    list-style: none;
    font-size:20px;
    font-family: 'san serif', serif;
    font-style:italic;
    line-height: 1.5em;
    padding:0;
}
@media only screen and (max-width: 600px) {
  .overlay {
    height:45%;
    width:90%; 
    padding:10px;
}
    .jumbotron_shoutout{
    font-size:20px;
    
}
    .jumbotron_descriptions {
    font-size:10px;  
}

}
@media only screen and (max-width: 768px) {
  .overlay {
    height:45%;
    width:85%; 
}
    .jumbotron_shoutout{
    font-size:40px;
    
}
    .jumbotron_descriptions {
    font-size:20px;  
}
}


h2 {
    font-family: 'Playfair Display', serif;
    color: #4f4f4f;
}
div .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.index-card {
    margin-top:20px;
    font-family: 'Playfair Display', serif;
}
.cardbody1 {
    background-color: #BB5978;
    opacity: 0.8;
}
.cardbody2 {
    background-color:#91ACC0;
    opacity:0.8;
}
.cardbody3 {
    background-color: #8C6A6B;
    opacity:0.8;
}
.card-link {
    font-size: 30px;
    color: #000;
}
.index-card a:hover {
    color:#fff;
}

.list-group-item {
    font-weight: bold;
    font-family: 'Playfair Display', serif;
}
/*--single course.html --*/
.course_container {
    margin-top:100px;
}
.single_title {
    color: #fff;
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    margin:0;
    padding:5px;
}

h1,h2 {
    font-family: 'Playfair Display', serif;
    color: #4f4f4f;
}
h4,h5 {
    font-family: 'Playfair Display', serif;
}
.course_title {
    background-color:#91ACC0;
    color:#fff;
}
.img-courses{
    width:450px;
    height:450px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.courses_lists {
    list-style: none;
    padding:0;
    margin:15px;
    font-family: 'san serif', serif;
    font-size:16px;
}
.courses_date {
    font-family: 'san serif', serif;
    font-size:18px;
    background-color: #fff;
    padding-top:30px;
    padding-bottom:30px;
}

.weekends {
    color:#525975;
    padding:5px;
    border-bottom: solid 1px;
    margin: 0 50px;
    border-color:#525975;
    background-color: #fff;

}

.add_basket {
    background-color:#BB5978;
}
/*--basket.html--*/
.basket_img {
    width:140px;
}
.basket_container {
    margin-top:100px;
    margin-left:0;
    margin-right:0;
    padding-right:0;
    padding-left:0;
}
.items_basket_container{
    padding-left:0;
    padding-right:0;
}
table {
    width: 100%;
}