html {
    height: 100%;
}
/*--REUSABLE CSS --*/
h1, h2, h3 {
    color: #4f4f4f;
    font-family: 'Playfair Display', serif;
}
h4,h5 {
    font-family: 'Playfair Display', serif;
}
div .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*--header and navbar--*/
#header-container {
    background-color:#525975;
}
.account-icons {
    height: 1rem;
    width:1rem;
}
/*--footer--*/
#footer-details {
    background-color: #525975;
}

.footer-icons p, {
    color:#fff;
}

.social_titles {
    font-family: 'Dancing Script', cursive;
    color: #ffffff;
    font-size: 25px;
    padding:0;
}
/* from Bulma for icons in header and navabar--*/
/*.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1rem;
    width: 1rem;
}
*/

.logo-font {
    font-family: 'Playfair Display', serif;
}

.main-logo-link {
    width: fit-content;
}
/* --bootstrap toasts */

.message-container {
    position: fixed;
    top: 68px;
    right: 15px;
    z-index: 99999999999;
}
.custom-toast {
    overflow: visible;
}

/*--INDEX.HTML--*/
.jumbotron {
    background-image:url('/static/img/churros.jpg');
    background-position:center;
    background-attachment: fixed;
    -webkit-background-size:cover;
    -moz-background-size: cover;
    min-height: 55vh;
    margin-top: 0;
}

.overlay {
    height:70%;
    width:60%;
    background-color: rgba(255, 255, 255, 0.8);
    align-items:center;
    vertical-align: central;
    margin-top: 100px;
}
.jumbotron_shoutout{
    color:#000;
    font-weight: 500;
    font-family: 'Playfair Display', serif;
    font-size:60px;
    font-style:italic;

}
#school_intro {
    color: #000;
    font-family: 'Playfair Display', serif;
    font-weight:400;
    font-size:25px;
}

.intro_messages {
    font-size: 20px;
    font-family: 'Playfair Display', serif;
}
@media only screen and (max-width: 768px) {
    .jumbotron {
    background-image:url("/static/img/churros.jpg");
    background-position:center;
    background-attachment: fixed;
    -webkit-background-size:cover;
    -moz-background-size: cover;
    min-height: 45vh;
    margin-top: 0;
}
    .overlay {
    height:50%;
    width:80%;
    background-color: rgba(255, 255, 255, 0.8);
    align-items:center;
    vertical-align: bottom;
    margin-top: 220px;
}
.jumbotron_shoutout{
    color:#000;
    font-weight: 500;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size:25px;
    margin-bottom:10px;
    
}
#school_intro {
    color: #000;
    font-family: 'Playfair Display', serif;
    font-weight:400;
    font-size:15px;
}

.intro_messages {
    font-size: 12px;
    font-family: 'Playfair Display', serif;
}
}
#announcement {
    background-color: #91ACC0;
    color: #fff;
}
#announcement h2 {
    color:#fff;
}

/*--students feebback--*/
.comments {
    font-family: 'Playfair Display', serif;
}
.ratings {
    padding:0;
    color: #ffd633;
}

/*--COURSES.HTML--*/
.jumbotron-courses {
    background-image:url("/static/img/baking.jpg");
    background-position:center;
    background-attachment: fixed;
    -webkit-background-size:cover;
    -moz-background-size: cover;
    min-height: 65vh;
    margin-top: 0;
}
.jumbotron_descriptions {
    list-style: none;
    font-size:20px;
    font-family: 'san serif', serif;
    font-style:italic;
    line-height: 1.5em;
    padding:0;
}
@media only screen and (max-width: 600px) {
  .overlay {
    height:45%;
    width:90%; 
    padding:10px;
}
    .jumbotron_shoutout{
    font-size:20px;
    
}
    .jumbotron_descriptions {
    font-size:10px;  
}

}
@media only screen and (max-width: 768px) {
  .overlay {
    height:45%;
    width:85%; 
}
    .jumbotron_shoutout{
    font-size:40px;
    
}
    .jumbotron_descriptions {
    font-size:20px;  
}
}

.list-group-item {
    font-weight: bold;
    font-family: 'Playfair Display', serif;
}
/*--aligning cards to be more centered in devices from iphone6 to iphoneX--*/
@media (min-width: 375px) and (max-width: 767px) {
    .card {
        margin-left:25px;
    }
}
/*--SINGLE COURSE.html --*/
.course_container {
    margin-top:100px;
}

.course_title {
    background-color:#91ACC0;
    color:#fff;
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    margin:0;
    padding-top:7px;
    
}
.img-courses{
    width:450px;
    height:450px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.courses_descriptions {
    margin: 0 10px 20px 0;
}
.courses_lists {
    list-style: none;
    padding:0;
    margin:15px;
    font-family: 'san serif', serif;
    font-size:16px;
}
.courses_date {
    font-family: 'san serif', serif;
    font-size:18px;
    background-color: #fff;
    padding-top:30px;
    padding-bottom:30px;
    margin: 0 20px 20px 0;
}


.add_basket {
    background-color:#BB5978;
}
@media (max-width: 575.98px) { 
    .course_container {
    margin-top:150px;
    }
  .course_title {
    background-color:#91ACC0;
    color:#fff;
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    margin:0;
    padding-top:7px;
    text-align: center;
    
}
.img-courses{
    width:325px;
    height:325px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
}
@media (min-width: 767px) and (max-width: 1200px){ 
    .course_container {
    margin-top:200px;
    }
  .course_title {
    background-color:#91ACC0;
    color:#fff;
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    margin:0;
    padding-top:7px;
    text-align: center;
    
}
.img-courses{
    width:450px;
    height:300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
}
/*--BASKET.HTML--*/
.basket_img {
    width:140px;
}
.basket_container {
    margin-top:130px;
}


.filter_button {
    background-color: #525975;
    opacity:0.9;
    color:#fff;
    font-size:18px;
    margin-right: 10px;
    margin-top: 10px;
}

/*--CHECKOUT.html--*/
.checkout_container {
    margin-top: 150px;
    padding-left:80px;
    padding-right:80px;
   
}
.checkout_container h1 {
    padding:10px;
    border-bottom: solid #4f4f4f 1px;
}
.fieldset-label {
    font-size: 20px;
    font-family: 'Playfair Display', serif;
}
.grand_total {
    font-size: 20px;
    font-weight:500;
    font-family: 'Playfair Display', serif;
    color:#525975;
}
/*--allauth templates--*/
.allauth_container {
    margin-top:150px;
}
/*--contact.html--*/
.jumbotron-contact {
    background-image:url("/static/img/contact.jpg");
    background-position:center;
    background-attachment: fixed;
    -webkit-background-size:cover;
    -moz-background-size: cover;
    min-height: 75vh;
    margin-top: 0;
}
.contact_left, .contact_right{
    margin: 35px 0px;
    padding: 20px 0px;
    font-family: 'Playfair Display', cursive;
}

.contact_left p {
    color: #4f4f4f;
    margin-bottom:10px;
}


#make_inquiry{
    background-color: #91ACC0;

}
#make_inquiry:hover {
    background-color:#fff;
    border: solid 2px #91ACC0;
    color:#91ACC0;
}
#inquiryLabel {
    color:#91ACC0;
}
form {
    text-align: left;
}
#send_message {
    background-color: #91ACC0;
}