<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="nav_title nav-link mr-5" href="{% url 'courses' %}" id="courses" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Baking Courses
            </a>
            <div class="dropdown-menu" aria-labelledby="all-courses-link">
                <a href="{% url 'courses' %}?category=pastry" class="dropdown-item">Pastry </a>
                <a href="{% url 'courses' %}?category=cakes" class="dropdown-item ">Cakes </a>
                <a href="{% url 'courses' %}?category=breads" class="dropdown-item ">Breads </a>
                <a href="{% url 'courses' %}" class="dropdown-item"><strong>All Courses</strong></a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav_title nav-link mr-5" href="{% url 'gifts' %}" id="gifts" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Gift Vouchers
            </a>
            <div class="dropdown-menu" aria-labelledby="all-courses-link">
                <a href="#" class="dropdown-item">Birthday </a>
                <a href="#" class="dropdown-item ">Congratulations </a>
                <a href="#" class="dropdown-item ">Thank you </a>
                <a href="#" class="dropdown-item ">Wedding </a>
                <a href="#" class="dropdown-item ">Custom </a>
                <a href="{% url 'gifts' %}" class="dropdown-item"><strong>All Gifts Vouchers</strong></a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav_title nav-link mr-5" href="#" id="about" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About Us
            </a>
            <div class="dropdown-menu" aria-labelledby="about">
                <a href="{% url 'team' %}" class="dropdown-item">Our Team</a>
                <a href="{% url 'kitchen' %}" class="dropdown-item">Our Kitchen</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav_title nav-link mr-5" href="{% url 'contact' %}" id="contact" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Contact Us
            </a>
            <div class="dropdown-menu" aria-labelledby="about">
                <a href="{% url 'contact' %}" class="dropdown-item">Contact Us</a>
            </div>
        </li>
    </ul>
</div>