<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="all-courses-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Courses
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-courses-link">
                <a href="{% url 'courses' %}?category=pastry" class="dropdown-item">Pastry </a>
                <a href="{% url 'courses' %}?category=cakes" class="dropdown-item ">Cakes </a>
                <a href="{% url 'courses' %}?category=breads" class="dropdown-item ">Breads </a>
                <a href="{% url 'courses' %}"class="dropdown-item"><strong>All Courses</strong></a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="gift-vouchers" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Gift Vouchers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="gift-vouchers">
                <a href="" class="dropdown-item">Birthday</a>
                <a href="" class="dropdown-item">Congratulations</a>
                <a href="" class="dropdown-item">Customised</a>
                <a href="" class="dropdown-item"><strong>All Gift Vouchers</strong></a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="about" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About Us
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="" class="dropdown-item">About Us</a>
                <a href="" class="dropdown-item">Contact</a>
            </div>
        </li>
    </ul>
</div>