{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container course_container">
    <div class="row mt-5">
        <div class="col text-center">
            <hr>
            <h2>{{course.category}}</h2>
            <hr>
        </div>
    </div>
    <div class="row text-center mt-5">
        <div class="col-md-12">
            <h3>Filtered by Category: </h3>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-12 pb-5">
            <a href="{% url 'courses' %}?category=Baking Course" class="btn filter_button" role="button" aria-disabled="true">All</a>
            <a href="{% url 'courses' %}?subcategory=Pastry" class="btn filter_button" role="button" aria-disabled="true">Pastry</a>
            <a href="{% url 'courses' %}?subcategory=Cakes" class="btn filter_button" role="button" aria-disabled="true">Cakes</a>
            <a href="{% url 'courses' %}?subcategory=Breads" class="btn filter_button" role="button" aria-disabled="true">Breads</a>
            <a href="{% url 'courses' %}?category=Gift Card" class="btn filter_button" role="button" aria-disabled="true">Gift Cards</a>
            
        </div>
    </div>
    <div class="row p-2 my-3">
        <div class="col-md-4 d-flex justify-content-center">
            <img class="img-courses img-fluid" alt="Responsive image" src= "{{ course.photo_course.url }}">
        </div>
        <div class="col-md-8">
            <div class="row course_title">
                <div class="col-md-12 d-flex justify-content-center">
                <p class="single_title">{{course.title}}</p>
                </div>
            </div>
           
            <div class="row courses_descriptions pt-2">
                <div class=" col-sm-6 col-md-6 col-lg-6">
                    <h5>{{course.description1}}</h5>
                    <ul class="courses_lists">
                        <li>{{course.learn_list1}}</li>
                        <li>{{course.learn_list2}}</li>
                        <li>{{course.learn_list3}}</li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <h5>{{course.description2}}</h5>
                    <ul class="courses_lists">
                        <li>{{course.completion_list1}}</li>
                        <li>{{course.completion_list2}}</li>
                    </ul>
                </div>
            </div>
            <div class ="row d-flex text-center">
                <div class="col">
                    {% if course.team.image %}
                     <div class="chip">
                        <img src="{{ course.team.image.url }}" alt="Chef" width="96" height="96">
                        {{course.team.name}}
                    </div> 
                    {% else %}
                    <div class="gift_description">
                        <p><i class="fa fa-check-square-o" aria-hidden="true"></i>
                            Gift card can be redeemed for any courses
                        </p>
                        <p><i class="fa fa-check-square-o" aria-hidden="true"></i>
                            FREE DELIVERY through Ireland.
                        </p>
                        <p><i class="fa fa-check-square-o" aria-hidden="true"></i>
                            Valid for 5 years.
                        </p>
                    </div>
                    {% endif %}
                </div>
            </div>
          
            <div class="row courses_date">
                <div class="col-sm-12 col-md-12  weekends">
                    <div class="row text-center justify-content-center">
                        <p><strong>{{course.day}}<br> {{course.course_datetime|date:"d F yy h:i a"}}<br>Euro {{course.price}}</strong></p>
                </div>
                    <div class="row">
                        <div class="col-sm-8 col-md-12 d-flex justify-content-center">
                        <form class="form" action="{% url 'add_to_bag' course.id %}" method="POST">
                        {% csrf_token %}
                            <div class="form-row form-inline">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn" 
                                                data-item_id="{{ course.id }}" id="decrement-qty_{{ course.id }}">
                                                <span>
                                                    <i class="fa fa-minus-circle fa-2x"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control qty_input text-center" type="number"
                                            name="quantity" value="1" min="1" max="20"
                                            data-item_id="{{ course.id }}"
                                            id="id_qty_{{ course.id }}">
                                        <div class="input-group-append">
                                            <button class="increment-qty btn"
                                                data-item_id="{{ course.id }}" id="increment-qty_{{ course.id }}">
                                                <span>
                                                    <i class="fa fa-plus-circle fa-2x"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                <div class="col-12 d-flex justify-content-center">
                                    <input type="submit" class="btn add_basket text-uppercase mt-2" value="Add to Basket">
                                </div>
                                <div>
                                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                </div>
                        </form>
                </div>
            </div>
        </div>
            </div>
        </div><!--col-md-8 div-->
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center continue_shopping_button">
            <a href="{% url 'courses' %}" class="btn btn-dark rounded-1 my-3">
            <span class="text-uppercase"><i class="fas fa-chevron-left mr-2"></i>Continue Browsing</span>
         </a>
        </div>

    </div><!--2nd row div-->
</div><!--container div-->

{% endblock %}


{% block postloadjs %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/quantity_input_script.js' %}">
   </script>
{% endblock %}