{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid p-0">
    <div class="jumbotron jumbotron-team d-flex align-items-center"> 
        <div class="overlay mx-auto p-5 text-center">
            <p class="display-4 jumbotron_shoutout">About Us</p>
            <hr class="my-4">
            <ul class="jumbotron_descriptions">
            <li><i class="fas fa-check mx-2"></i>Fully qualified and professionals.</li>
            <li><i class="fas fa-check mx-2"></i> Great passions in teaching.</li>
            <li><i class="fas fa-check mx-2"></i>Aim to make baking easily learned skill for all ages.</li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center my-5 border-bottom">
        <h2>Meet Our Team</h2>
    </div>
    <div class="row mb-3">
        {% for team in teams %}
        <div class="col-md-6 text-center px-5">
            <h4 class="chef-name">{{team.name}}</h4>
            <img class="img-chef card-img-top img-fluid img-thumbnail rounded-circle" src="{{ team.image.url }}" alt="Responsive image">
            <p class="item-intro"> {{team.description}}</p>
        </div>
         {% endfor %}
    </div>
    <div class="row">
        <div class="col text-center my-3">
            <a href="{% url 'kitchen' %}" class="btn btn-dark">Have A Look At Our Kitchen</a>
        </div>
    </div>
</div>

{% endblock %}